@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900&display=swap');

:root {
    --dark-blue: #7FAFEF;
    --light-blue: #AECBF5;
    --brown: #4A241B;
    --white: #F5F5FD;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-blue);
    background: var(--white);
}

header {
    margin: 50px;
    display: grid;
    justify-items: center;
    height: 1500px; /* tempt */
}

.header__container {
    background: url("../assets/img/header.png");
    width: 100%;
}

nav {
    position: absolute;
    right: 0;
}

.colornav {
    position: relative;
    text-align: right;
}

.navstick {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--white);
    width: 100%;
    text-align: right;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 99999999;
}

.navstick li {
    margin: 30px 40px;
}

.navstick li a {
    color: var(--dark-blue);
}

.colornav li a {
    color: var(--dark-blue);
}

nav li {
    display: inline-block;
    margin: 50px 40px;
}

nav li .active {
    border-bottom: 1px solid var(--light-blue);
}

nav li:last-child { margin-right: 80px; }

nav li a {
    text-decoration: none;
    color: var(--white);
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 400;
}

.header__container .header__heading {
    padding-left: 30%;
    padding-top: 10vw;
}
.header__container .header__heading h1 {
    font-size: 5vw;
    font-weight: 700;
    color: var(--light-blue);
}

.header__container .header__event-heading {
    padding-top: 20vw;
    text-align: center;
}

.header__container .header__event-heading h2 {
     font-size: 3vw;
     font-weight: 700;
    color: var(--dark-blue);
 }

.header__container .header__event-heading p {
    font-size: 1vw;
    font-weight: 400;
    color: var(--dark-blue);
}

.header__container .header__event-heading .header__event-button--container {
    padding-top: 20vw;
}

.header__container .header__event-heading .header__event-button--container a {
    text-decoration: none;
    color: var(--white);
    border-radius: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 50px;
    background: var(--brown);
}

main {
    margin: 75px;
    display: grid;
}

.main__introduction {
    margin: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.main__introduction-content {
    align-items: center;
}

h1 {
    font-weight: 700;
}

h1::after {
    content : "";
    display: block;
    border-bottom: 2px solid var(--dark-blue);
    width: 200px;
    margin: 10px 50px;
}

.main__introduction p {
    max-width: 500px;
    line-height: 2;
}

.main__introduction-calendar {
    text-align: center;
    position: relative;
}

.main__introduction-calendar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main__introduction-calendar li {
    margin: 0 10px;
}

.main__introduction-calendar ul::before {
    content: "";
    display: block;
    border-bottom: 4px solid var(--dark-blue);
    width: 90%;
    left: 5%;
    position: absolute;
    top: 116px;
}

.main__introduction-calendar .calendar-item {
    max-width: 200px;
}

.main__introduction-calendar .calendar-item .calendar__date {
    border-bottom: 2px solid var(--dark-blue);
    max-width: 40px;
    margin: 0 auto;
}

.main__introduction-calendar .calendar-item .calendar__date .month {
    font-weight: 300;
}

.main__introduction-calendar .calendar-item .calendar__date .day {
    font-weight: 700;
    font-size: 3rem;
    margin-top: -25px;
}

.main__introduction-calendar .calendar-item .calendar__circle {
    max-width: 10px;
    height: 10px;
    border: 4px solid var(--dark-blue);
    background: white;
    border-radius: 50%;
    margin: 40px auto;
    z-index: 9999;
}

.main__introduction-calendar .calendar-item .calendar__content-title {
    font-weight: 700;
    margin-bottom: 20px;
}

.main__gallery {
    display: grid;
    grid-template-columns: 31% 31% 35%;
    grid-gap: 20px;
}

.main__gallery .itemgallery {
    overflow: hidden;
}

.main__gallery .big img {
    width: 970px;
    height: 625px;
    object-fit: cover;
}

.main__gallery .small-one img {
    width: 542px;
    height: 300px;
    object-fit: cover;
}

.main__gallery .small-two img {
    width: 542px;
    height: 300px;
    object-fit: cover;
}

.main__gallery .big {
    grid-column: 1/3;
    grid-row: 1 / 3;
}

.main__gallery .small-one {
    grid-column: 3 / 3;
    grid-row: 1;
}

.main__gallery .small-two {
    grid-column: 3 / 3 ;
    grid-row: 2 ;
}

footer {
    display: grid;
    grid-template-columns: 30% 68.58%;
    margin: 0 75px;
    grid-gap: 20px;
}

footer .socialmedia {
    display: grid;
    justify-content: center;
    align-items: center;
}

footer .contact {
    background: var(--dark-blue);
    color: var(--white);
    padding: 100px;
}

footer .contact h1 {
    text-transform: uppercase;
    font-size: 1.8vw;
}

footer .contact h1::after {
    border-bottom: 2px solid var(--white);
}

footer .contact .info {
    margin: 50px 0;
}

footer .contact span {
    font-weight: 700;
}

footer .contact p {
    font-size: 2rem;
}


.copy-footer {
    display: block;
    text-align: center;
    margin: 20px;
}

.filter__container {
    max-width: 500px;
}

.filter__container form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.filter__container .calendar-btn {
    background: white;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    font-weight: 700;
    color: var(--dark-blue);
    padding: 4px 10px;
}

.full__calendar {
    margin: 75px;
    position: relative;
}

.full__calendar ul::before {
    content: "";
    display: block;
    border-left: 4px solid var(--dark-blue);
    height: 100%;
    position: absolute;
}

.full__calendar li {
    margin: 20px 60px;
}

.full__calendar li .calendar-item {
    position: relative;
}

.full__calendar .calendar__circle {
    height: 10px;
    width: 10px;
    background: var(--white);
    border: 3px solid var(--dark-blue);
    border-radius: 50%;
    position: absolute;
    left: -65px;
}

.main__contact {
    display: grid;
    justify-items: center;
}

.main__contact-container {
    width: 500px;
}

.main__contact h1 {
    font-size: 1.5vw;
}

.main__contact form {
    margin: 75px 0;
}

.form-group {
    margin: 20px 0;
}

.form-group label {
    font-weight: 700;
}
input, select, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px 3px;
    color: var(--dark-blue);
    border-radius: 3px;
    border: 1px solid var(--light-blue);
    font-size: 1.8rem;
}

.main__contact textarea {
    height: 200px;
}

.form-info {
    font-size: 1.2rem;
}

.form-submit {
    background: white;
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.8rem;
    border: 1px solid var(--light-blue);
    padding: 5px 15px;
    border-radius: 3px;
}

.form-submit:hover {
    cursor: pointer;
}

.big__container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 75px 0;
}

.big__container .member {
    font-size: 1.1vw;
    font-weight: 700;
}

.store__container {
    max-width: 1000px;
    margin: 75px 0
}

.store__container .storethreecolumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.store__container .onecolumn {
    position: relative;
}

.package__container {
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid var(--light-blue);
    padding: 8px;
    border-radius: 4px;
}

.package__container h1 {
    font-size: 1.6vw;
}

.package__container ul li {
    text-align: center;
    margin: 20px 0;
}

.cart {
    background: white;
    border: 1px solid var(--light-blue);
    padding: 20px;
    border-radius: 4px;
}

.cart .cart-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.table-header {
    font-weight: 700;
}

.cart .cart-table-row {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / -1;
    align-items: center;
}

.last {
    text-align: right;
}

.center {
    text-align: center;
}

.cart .cell input {
    width: 50px;
}

.button-container {
    float: right;
}

.store-button {
    background: white;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--dark-blue);
    padding: 8px 15px;
    text-align: right;
    margin: 20px 0;
}

.store-button:hover {
    cursor: pointer;
}

.purchase-history {
    background: white;
    border: 1px solid var(--light-blue);
    padding: 20px;
    border-radius: 4px;
    margin-top: 50px;
}

.history--table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.history-table-row {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1 / -1;
    align-items: center;
}

.centerbtn {
    display: block;
    margin: 0 auto;
}