* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

header {
    background: url("../assets/img/header.png") no-repeat;
    width: 100%;
}